<div class="team-form">
  <div class="team-form-title">
    <h3>Create a Team</h3>
  </div>
  <div class="form-action">
    <%= simple_form_for @team do |f| %>
      <!-- <div class="form-row"> -->
        <%= f.input :name, label: false, placeholder: 'Team Name' %>
        <%= f.button :submit, class: "btn btn-primary", value: 'Save Team' %>
      <!-- </div> -->
    <% end %>
  </div>
</div>
