// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;


$purple: #843CA8;
$blue: #3CADED;
$green: #1EDD88;
$gray: #F0F0F0;
$light-gray: #FFFFFF;
$black: #181818;
$dark-gray: #212121;
$complete-gray: #acacac;
