// Not Signed In
.sign-in-page {
  display: flex;
  padding: 32px;
  justify-content: space-between;
}

.info-container {
  width: -webkit-fill-available;
}

.sign-in {
  width: -webkit-fill-available;
}

// Specific CSS for your home-page
.banner-home {
  padding: 16px;
  margin-bottom: 8px;
  background-color: $black;
  height: 18vh;

  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.profile-content {
  color: $gray;
}
.profile-title {
  background: -webkit-linear-gradient($blue, $purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline $purple;
}


.projects-list-container {
  padding: 16px;
}

.project-list-title h2 {
  color: $purple;
}

.projects-list  {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .projects-list {
    grid-template-columns: 1fr;
  }
  .project-card {
    width: webkit-fill-available;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .projects-list {
    grid-template-columns: 1fr;
  }
  .project-card {
    width: webkit-fill-available;
  }
}

// // Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .projects-list {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .projects-list {
    grid-template-columns: 1fr 1fr;
  }
  .project-card {
    width: 45vw;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .projects-list {
    grid-template-columns: 1fr 1fr;
  }
    .project-card {
    width: 45vw;
  }
}

.project-card {
  margin: 16px;
  padding: 8px;
  border-radius: 4px;
  background-color: $gray;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);

}

.project-card-title {
  display: flex;
  justify-content: space-between;
}

.project-card-title > h3 :hover {
  text-decoration: none;
}







