.stages-container {
  padding: 20px;
  width: 220px;
  height: 100%;
  background: #f4f4f4;
  box-sizing: border-box;
}

.stages-container > span {
  font-weight: 900;
}

.stages-container > ul {
  list-style: none;
  -webkit-margin-before: 2em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.stages-container > ul > li {
  margin: 10px 0;
  font-size: 14px;
  color: #7c7c7c;
  cursor: pointer;
}

.stages-container > ul > li.active {
  font-weight: 600;
  color: black
}
