.project-banner {
  padding: 8px;
  background-color: $black;
  height: 10vh;
  color: $purple;
  padding-left: 16px;
}

.project-container {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-info {
  width: 10vw;
  height: 100vh;
  color: $light-gray;
  padding: 65px 16px;
  background-color: $black;
}

.team-member {
  margin-bottom: 16px;
}

.team-member > p {
  margin: 2px;
}

.project-app {
  width: 90vw;
}

.stages-container {
  background: $black;
  box-sizing: border-box;
}


.stages-container > ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.stages-container > ul > li {
  color: $blue;
  margin: 10px 0;
  font-size: 1.5em;
  font-weight: bolder;
  cursor: pointer;
  transition: transform .2s;
}

.stages-container > ul > li :hover {
 -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);

}


.stages-container > ul > li.active {
  text-decoration: underline $purple;
}
