.project-banner {
  padding: 8px;
  // margin-top: 8px;
  // margin-bottom: 8px;
  background-color: $black;
  // border-radius: 8px;
  // box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.project-banner > h1  {
    color: $blue;
    text-decoration: underline $purple;
  }



.stages-container {
  padding: 20px;
  background: $black;
  box-sizing: border-box;
}


.stages-container > ul {
  list-style: none;
  display: flex;
  justify-content: space-around;

  -webkit-margin-before: 2em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.stages-container > ul > li {
  // display: inline-block;
  // justify-content: space-between;
  color: $blue;
  margin: 10px 0;
  font-size: 14px;
  cursor: pointer;
}

.stages-container > ul > li.active {
  font-weight: 600;
  text-decoration: underline $purple;

}
