<div class="container collaborator-add-modal">
  <h4>Select a User</h4>

  <%= simple_form_for [@project, @collaborator] do |f| %>
    <% if @collaborator.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @collaborator.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.association :user,label: false, label_method: lambda { |user| "#{user.first_name} #{user.last_name} | @#{user.email}" }, input_html: { class: 'js-searchable' } %>
    <%= f.submit class: 'btn btn-primary', value: 'Add to Team' %>
<% end %>
</div>



