<div class="container sign-in-page">
  <div class="info-container">
    <h1>Welcome to Cinemakers</h1>
    <p>A Task Management App</p>
  </div>
  <div class="sign-in">
    <%= render template: "devise/sessions/new" %>
  </div>
</div>
