.btn-destroy {
  border-radius: 50%;
  border: none;
  background-color: $gray;
}

.btn-destroy :hover{
  color: $black;
  font-size: larger;

}

.fa-trash {
  color: $dark-gray;
}

.task-btn-destroy {
  border-radius: 50%;
  border: none;
}

.task-btn-destroy :hover{
  color: $black;
  font-size: larger;

}


.checklist-button {
  border: none;
  color: $purple;
  font-size: xx-large;
  float: right;
}

.checklist-button :hover {
  font-size: larger;
}

.task-button {
  border: none;
  color: $purple;
  font-size: xx-large;
  float: center;
  background-color: $gray;
}

.task-button :hover {
  font-size: larger;
}

.create-btn {
  border: none;
  color: $purple;
  font-size: xx-large;
  float: right;
}

.create-btn :hover {
  font-size: larger;
}

