.btn-destroy {
  border-radius: 50%;
  border: none;
}

.btn-destroy :hover{
  color: $black;
  font-size: larger;

}

.fa-trash {
  color: $dark-gray;
}

.checklist-button {
  border: none;
  color: $purple;
  font-size: xx-large;
  float: right;
}

.task-button {
  border: none;
  color: $purple;
  font-size: xx-large;
  float: center;
}

.team-create-btn {

  float: right;

}

.project-create-btn {
  float: right;

}
