.name-input {
  margin-left: 16px;
  margin-right: 16px;
  width: 300px;
}

.long-input {
  margin-left: 16px;
  margin-right: 16px;
  width: 300px;
}

.city-input {
 margin-left: 16px;
 margin-right: 32px;
 width: 300px;
}

#user_state {
  margin: 16px;
}

.user_photo {
  margin-left: 16px;
  margin-right: 16px;
}


.password-input {
 margin-left: 16px;
 margin-right: 32px;
 width: 300px;
}
