.task-list {
  // box-shadow: 0 10px 30px rgba(0,0,0,.1);
  background-color: $gray;
  padding: 8px;

}

.task {
  border-bottom: 2px solid $gray;
  padding: 8px;
  background-color: $white;
}

.task-note {
  font-style: italic;
}

.task-title {
  display: flex;
  justify-content: space-between;
  // p {
  //   font-style: italic;
  // }
}

.task-destroy {
  text-align: right;


}


.task-info {
  display: flex;
  flex-direction: column;
  font-style: italic;


}

.task-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
