.task-list {
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  background-color: $gray;
  padding: 8px;

}

.task {
  border-bottom: 2px solid $gray;
  padding: 8px;
  background-color: $white;
}

// .task-list :hover {
//   background-color: $gray;
// }

.task-title {
  display: flex;
  justify-content: space-between;
}

.task-destroy {
  text-align: right;


}


.task-info {
  display: flex;
  flex-direction: column;


}

.task-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
