.task-list {
  background-color: $gray;
  padding: 8px;
}

.task {
  border-bottom: 2px solid $gray;
  padding: 8px;
  background-color: $white;
}

.task-complete {
  background-color: $gray;
  color: $complete-gray;
  text-decoration: line-through;
  text-decoration-color: $dark-gray;
  .task-btn-destroy {
    background-color: $gray;
  }
}

.task-title {
  display: flex;
  justify-content: space-between;
}

.task-title h3 {
  margin-right: 4px;
}


.task-due  {
  display: flex;
  flex-direction: row;
}


.task-destroy {
  text-align: right;
}


.task-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-style: italic;
}

.task-footer p {
  margin-bottom: 0px;
}
